<!doctype html>
<html>
<head>
	<style>
		textarea { width: 90%; height: 300px; }
	</style>
</head>
<body>
	<form method="POST">
		<pre>input:</pre>
		<textarea name="input" id="textarea-in"></textarea>&nbsp;<input type="submit"><br/><br/>
	</form>
</body>
</html>
